.nav-link {
    color: white;
}

.brand {
	font-size: 24px;
}

#navbar {
    background-color: #494E6B;
    height: 40px;
}

.nav-item {
	display: inline;
	color: white;
}

.pretty_entry {
	border-style: solid;
	border-width: 2px;
	border-color: #98878F;
	border-radius: 10px;
	padding: 15px;
	width: 500px;

}

h1 {
	margin-top: 20px;
	margin-bottom: 40px;
}

h2 {
	margin-bottom: 40px;
}

h1, h2, h3, h4, a {
	font-family: 'Montserrat', sans-serif;
	color: #494E6B;

}


input {
	margin-bottom: 15px;
}

.hotel_choice {
	width: 60px;
}

.comp {
	margin-bottom: 15px;
}

i {
	margin-right: 20px;
}

.comp_set_form{
	border-style: solid;
	border-width: 2px;
	border-color: #98878F;
	border-radius: 10px;
	padding: 15px;
	width: 450px;
}

.HotelContainer {
	margin-bottom: 10px;
}

.hotel_dropdown {
	margin-right: 15px;
	width: 300px;
}
.fa-plus {
	color: #66ABBC;
}

.note {
	color: #CD5360;
}

.delete_set {
	color: #CD5360;
}

body {
	color: #192231;
	font-family: 'Montserrat', sans-serif;

}
