.nav-link {
    color: white;
    margin-bottom: 0;
}

.brand {
	font-size: 24px;
}

#navbar {
    background-color: #494E6B;
    align-items: center;
}

.fade-in-color:hover {
	color: rgb(205,83,96);
}

.nav-item {
	display: inline;
	color: white;
}

.pretty_entry {
	border-style: solid;
	border-width: 2px;
	border-color: #98878F;
	border-radius: 10px;
	padding: 15px;
	width: 500px;
	background-color: rgba(255,255,255,.2);
	color: white;

}

.pretty_entry input {
	width: 100%;
	clear: both;
}

h1, h2 {
	margin-top: 30px;
}
h1, h2, h3, h4, a {
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin-bottom: 20px;

}

input {
	margin-bottom: 15px;
}

.hotel_choice {
	width: 60px;
}

.comp {
	margin-bottom: 15px;
}

i {
	margin-right: 20px;
}

.comp_set_form{
	border-style: solid;
	border-width: 2px;
	border-color: #98878F;
	border-radius: 10px;
	padding: 15px;
	width: 450px;
}

.HotelContainer {
	margin-bottom: 10px;
}

.hotel_dropdown {
	margin-right: 15px;
	width: 300px;
}
.fa-plus {
	color: #66ABBC;
	cursor: pointer;
	margin-left: 10px;
}

.fa-trash {
	color: #192231;
	cursor: pointer;
}

.note {
	color: #CD5360;
}

.delete_set {
	color: #CD5360;
}

body {
	color: white;
	font-family: 'Montserrat', sans-serif;
	background-image: url("SF_photo.jpg");
	background-size: cover;

}

.hotel_choices {
	flex-wrap: nowrap;
}

.csv_button {
	margin-bottom: 20px;
}

.button {
	font-color: #CD5360;
}