{% extends 'base.html' %}

{% block js %}
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
	<script src="/static/js/createSet.jsx" type="text/jsx"></script>
{% endblock %}



{% block content %}

	<h1>Create Your Comp Set Below</h1>

	<h2>Choose a maximum of 8 hotels</h2>

	<form action='/set_comp_set' method="POST">
		Comp Set Name: <input type="text" name="view_name"><br>
		Default: <input type="checkbox" name="default" value="true">
		<h2>Choose hotels:</h2>
		<div id="hotel-dropdowns"></div><br>
		<input type="submit">
	</form>

	


{% endblock %}