{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row col-12 justify-content-center">
		<h1>Hotel Performance Dashboard</h1>
	</div>

	<form action="/set-chart-inputs.json" id="chart_inputs" method='POST'>
		<div class="row justify-content-center comp">
			<div class="col-4">
				<b>Comp Set:</b> 
					<select id="set_choice" name="comp_set_choice">
						<option value="{{ default_view.view_id }}"
							{{ 'selected' if default_view.view_id == session['set_choice'] else '' }}
						>{{ default_view.view_name }}
						{% for view in non_default_views %}
							<option value="{{ view.view_id }}"
								{{ 'selected' if view.view_id == session['set_choice'] else '' }}
							>{{ view.view_name }}
						{% endfor %}
					</select>
			</div>
			<div class="col-4">
				<b>Metric:</b> 
					<select  id="metric_choice" name="metric_choice">
						{% for metric in metrics %}
							<option value="{{ metric }}"
							{{ 'selected' if metric == session['metric_choice'] else '' }}
						>{{ metric }}
						{% endfor %}
					</select>
			</div>
			<div class="col-4">
				<b>Timeframe:</b>
					<select id="timeframe_choice" name="timeframe_choice">
						{% for timeframe in timeframes %}
							<option value="{{ timeframe }}"
								{{ 'selected' if timeframe == session['timeframe_choice'] else '' }}
							>{{ timeframe }}
						{% endfor %}
					</select>
			</div>
		</div>
	</div>
	<div class="container justify-content-center comp">
		<div class="row justify-content-start">
			<div class="col-4">
				<b>Competitors:</b>
			</div>
		</div>
		<div class="row justify-content-start">
			<div class="col-12" id="hotel_choices" name="hotel_choices">
				{% for hotel in hotels_in_view %}
					<input type="checkbox" class="hotel_choice" name="hotel" value="{{ hotel.hotel_id }}"
						{{ 'checked' if hotel.hotel_id in session['hotels_selection'] else '' }}
					>{{ hotel.hotel.hotel_name }}
				{% endfor %}
			</div>
		</div>
	</div>
	<button type="button" class="csv_button">Download CSV Data</button>
	</form><br>
	<div class="row justify-content-center">
		<canvas class="col-8" id="myChart" width="400" height="200"></canvas>
	</div>
</div>

{% endblock %}

{% block js %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
	<script>

	// chart stuff!
	const ctx = document.getElementById('myChart');

		// this function pulls data from the form and sends it to route to get chart data

	function renderChart() {
		
		const hotels = new Array();
		$("input:checkbox[name=hotel]:checked").each(function() {
			hotels.push($(this).val())
		});

		$.post('/set-chart-inputs.json', {
			'comp_set_choice' : $('#set_choice').val(),
			'metric_choice' : $('#metric_choice').val(),
			'timeframe_choice' : $('#timeframe_choice').val(),
			'hotels_selection' : hotels
			}, 
			(data) => {
			let myLineChart = Chart.Line(ctx, {
											data: data
										});
		})
	}

	// Call renderChart when page loads:
	$(window).load(renderChart)

	// Add event listeners to all elements of the form
	const form = document.querySelectorAll('#chart_inputs select, #chart_inputs input, .hotel_choice');

	for (const element of form) {
		element.addEventListener('change', renderChart);
	}

	// Add a different event listener for comp set dropdowns
	const hotel_selector = document.querySelector('#set_choice');

	hotel_selector.addEventListener('change', () => {
		const comp_set_choice = $('#set_choice').val();
		$.get('/get-comp-set-hotels.json', {comp_set_choice: comp_set_choice}, (data) => {

			// this part of the function removes old comp set hotels and add new ones.
			// first select the div that has all the hotel choices
			const comp_set_div = document.querySelector('#hotel_choices');

			// change the innerHTML to nothing (this removes them all)
			comp_set_div.innerHTML = '';

			// for each view_hotel in data received recreate the element with each attribute
			for (const view_hotel of data) {
				const element = document.createElement('input');
				element.setAttribute('type', 'checkbox');
				element.setAttribute('class', 'hotel_choice');
				element.setAttribute('name', 'hotel');
				element.setAttribute('value', view_hotel.hotel.hotel_id);
				element.setAttribute('checked', '');

				// add the text part of the element (what actually displays to the user)
				const text = document.createTextNode(view_hotel.hotel.hotel_name);

				// add the element to the div so it actually shows up
				comp_set_div.appendChild(element);
				comp_set_div.appendChild(text);

				// add event listener again!
				element.addEventListener('change', renderChart);
			}
			// Need to render the chart again! Also will update session values
			renderChart()
		});
	});

	// handle downloading csv

	// add event listener to button

	const csvButton = document.querySelector('.csv_button');

	csvButton.addEventListener('click', getCsvData);

	function getCsvData() {
		const hotels = new Array();
		$("input:checkbox[name=hotel]:checked").each(function() {
			hotels.push($(this).val())
		});

		$.post('/get-csv-data.json', {
			'comp_set_choice' : $('#set_choice').val(),
			'metric_choice' : $('#metric_choice').val(),
			'timeframe_choice' : $('#timeframe_choice').val(),
			'hotels_selection' : hotels
			}, 
			(data) => {

				let csvContent = "data:text/csv;charset=utf-8," + data.map(e => e.join(",")).join("\n");

				var encodedUri = encodeURI(csvContent);
				window.open(encodedUri);
		})
	}
		
	</script>
	}

{% endblock %}

