{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
		<h1>Monitor Your Hotel's TripAdvisor Activity with PopWatch</h1>
</div>
<div class="row justify-content-center">
		<h2>Log in or register to get started</h2>
</div>
<div class="row justify-content-center">
	<form action="/login" id="login">
		Email: <input type="text" name="email"><br><br>
		Password: <input type="password" name="password"><br><br>
		<input type="submit">
	</form>
</div><br><br>
<div class="row justify-content-center">
	<p>Not yet a user? Click <a href="/register">here</a> to register.</p>
</div>
{% endblock %}