{% extends 'base.html' %}

{% block js %}
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
	<script src="/static/js/manageSet.jsx" type="text/jsx"></script>
{% endblock %}


{% block content %}
<div class="row justify-content-center">
	<h1>Manage Your Comp Set Below</h1>
</div>
<div class="row justify-content-center">
	<div id="manage_set"></div>
</div>

{% endblock %}